img.tile {
	position: absolute;
}

div.deck {
	position: absolute;
    /* left, top, width, height to java script. */
	border: solid 5px;
}

i.move {
	position: absolute;
    /* left, top, width, height to java script. */
    font-size: 36px;
}

span.score {
	position: absolute;
    /* left, top, width, height to java script. */
	font-size: 48px;
}

div.mountain {
	position: absolute;
	width: 600px;
	height: 100px;
	border: solid 5px #020001;
}

img.root-pibot {
	position: absolute;
}
