div.scene-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

div.positioningFinishButton {
    height: 160px;
}

img.tile {
	position: absolute;
}

div.deck {
	position: absolute;
    /* left, top, width, height to java script. */
	border: solid 5px;
}

i.move {
	position: absolute;
    /* left, top, width, height to java script. */
    font-size: 36px;
}

span.score {
	position: absolute;
    /* left, top, width, height to java script. */
	font-size: 48px;
}

div.mountain {
	position: absolute;
    /* left, top, width, height to java script. */
	border: solid 5px;
}

img.root-pibot {
	position: absolute;
    /* left, top, width, height to java script. */
}
